@{ ViewBag.Title = "Home Page"; }

<h1>Home Controller</h1>

<div class="container-fluid">
    <div class="row">
        <div class="col-lg-2 col-md-2 col-sm-4 col-sx-12">
            <dnd-gridcharacter party shared>
                <img src="/style/avatars/gnome/wizard.jpg">
                <h1>Finckeewack<br>Clusterbomb</h1>
            </dnd-gridcharacter>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-4 col-sx-12">
            <dnd-gridcharacter party>
                <img src="/style/avatars/personal/elminster.png">
                <h1>Elminster<br>Aumar</h1>
            </dnd-gridcharacter>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-4 col-sx-12">
            <dnd-gridcharacter shared>
                <img src="/style/avatars/personal/drizzt.jpg">
                <h1>Drizzt<br>Do'urden</h1>
            </dnd-gridcharacter>
        </div>
    </div>
</div>

@section htmlelements {
    <link rel="import" href="/jspm_packages/github/Polymer/polymer@0.8.0/dist/polymer.html">
    <link rel="import" href="~/elements/dnd-gridcharacter.html">
}

