@{ ViewBag.Title = "Home Page"; }

<h1>Home Controller</h1>

<nolib-helloworld>No Library</nolib-helloworld>
<polymer-helloworld>Polymer</polymer-helloworld>

@section htmlelements {
    <link rel="import" href="~/elements/nolib-helloworld.html">

    <link rel="import" href="/jspm_packages/github/Polymer/polymer@0.8.0/dist/polymer.html">
    <link rel="import" href="~/elements/polymer-helloworld.html">
}
