.vs/
artifacts/
bower_components/
node_modules/
jspm_packages/
bin/
obj/
*.user

# AureliaTutorial Files
AureliaTutorial/wwwroot/

# BaseAspNetProject Files
BaseAspNetProject/wwwroot/

# AspNetIdentity Files
AspNetIdentity/wwwroot/

# CharacterSheet Files
CharacterSheet/wwwroot/
CharacterSheet/temp/
