<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="~/js/polyfills.js"></script>

    <link rel="stylesheet" href="~/style/main.css">
    <link rel="import" href="~/elements/common.html">

    @RenderSection("webcomponents", required: false)
</head>
<body>
    <header>
        <s-logo>Grumpy<br>Wizards</s-logo>
        <s-signin></s-signin>
        <s-userprofile></s-userprofile>
        <s-signout></s-signout>
        <!--<s-navigation-menu>
            @if (User.Identity.IsAuthenticated) {
                <s-userprofile></s-userprofile>
                <s-signout></s-signout>
            } else {
                <s-signin></s-signin>
            }
        </s-navigation-menu>-->
    </header>
    <section id="mainContent">
        @RenderBody()
    </section>

    @if (IsSectionDefined("scripts")) {
        <script src="~/jspm_packages/system.js"></script>
        <script src="~/config.js"></script>
        @RenderSection("scripts", required: false)
    }
</body>
</html>
