<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="~/js/polyfills.js"></script>

    <link rel="stylesheet" href="~/style/main.css">
    <link rel="import" href="~/elements/common.html">

    @RenderSection("webcomponents", required: false)
</head>
<body>
    <header>
        <s-logo>Grumpy<br>Wizards</s-logo>
        <nav>
            @if (User.Identity.IsAuthenticated) {
                <s-menuicon icon="user">Profile</s-menuicon>
                <s-menuicon icon="sign-out">Sign Out</s-menuicon>
            } else {
                <s-menuicon icon="sign-in">Sign In</s-menuicon>
            }
        </nav>
    </header>
    <section id="mainContent">
        @RenderBody()
    </section>

    @if (User.Identity.IsAuthenticated) {

    } else {
        <div id="signInModal" class="container-fluid">
            <h3>Choose Your Social Network</h3>
            <div class="row">
                <div class="socialNetwork">
                    <social-button id="facebook" network="facebook"></social-button>
                </div>
                <div class="socialNetwork">
                    <social-button id="facebook" network="microsoft"></social-button>
                </div>
                <div class="socialNetwork">
                    <social-button id="facebook" network="twitter"></social-button>
                </div>
                <div class="socialNetwork">
                    <social-button id="facebook" network="google"></social-button>
                </div>
            </div>
        </div>
    }
    <script>
        $("s-menuicon[icon=sign-in]").on("click", function () {
            $("#signInModal").modal();
        });
    </script>
    @if (IsSectionDefined("scripts")) {
        <script src="~/jspm_packages/system.js"></script>
        <script src="~/config.js"></script>
        @RenderSection("scripts", required: false)
    }
</body>
</html>
