@{  ViewBag.Title = "Activation Error"; }

<div id="Account" class="container">
    <div class="row">
        <div class="login-form col-xs-12 col-sm-6 col-md-6 col-lg-6">
            <div class="header">
                <h4>Activation Failed</h4>
            </div>
			<p>
			    We could not find an unactivated account with the code specified.  Did you click
			    on the link?  Did you copy the code correctly?
			</p>
		</div>
	</div>
</div>
