@using CharacterSheet.Services
@{ ViewBag.Title = "Confirmation Required"; }

<div id="Account" class="container">
    <div class="row">
        <div class="login-form col-xs-12 col-sm-6 col-md-6 col-lg-6">
            <div class="header">
                <h4>Check Your Email</h4>
            </div>
			<p>
			    We just tried to send you an email with an activation link.  When you receive the
			    email, please click the link to activate your account.
			</p>

			@if (WebConfiguration.Instance.DevelopmentMode) {
				<p><strong>DEVELOPMENT MODE:</strong> The link is <a href="@ViewBag.CallbackUrl">here</a></p>
			}
		</div>
	</div>
</div>


