@{ ViewBag.Title = "Account Activated"; }

<div id="Account" class="container">
    <div class="row">
        <div class="login-form col-xs-12 col-sm-6 col-md-6 col-lg-6">
            <div class="header">
                <h4>Account Activated</h4>
            </div>
			<p>
			    Thank you for activating your account.  Please @Html.ActionLink("click here to log in", "Index", "Login", new { area = "Account"})
			</p>
		</div>
	</div>
</div>
