@{
    Layout = "~/Views/Layout/LoginPage.cshtml";
    ViewBag.Title = "Confirm Email: Error";
}

<div class="login-form-outer">
    <h4>Confirmation Failed</h4>
    <p>
        We could not confirm your account.
    </p>
</div>