@{
    Layout = "~/Views/Layout/LoginPage.cshtml";
    ViewBag.Title = "Forgot Password";
}

<div class="flex-container">
    <div class="login-form-outer" id="forgotconfirm">
        <h4>Check Your Email</h4>
        <p>
            We have sent a reset password link to your email.  Please check your email
            and click on the link in that email to reset your password.
        </p>
    </div>
</div>