@{
    Layout = "~/Views/Layout/LoginPage.cshtml";
    ViewBag.Title = "Confirm Email: Error";
}

<div class="flex-container">
    <div class="login-form-outer">
        <h4>Reset Password Failed</h4>
        <p>
            We could not reset your password.
        </p>
    </div>
</div>