@using CharacterSheet.Services
@{ ViewBag.Title = "Forgot Password"; }

<h4>Check Your Email</h4>

<p>
    We have sent a reset password link to your email address.  Please check your email and click
    on the link in that email to reset your password.
</p>

@if (WebConfiguration.Instance.DevelopmentMode) {
    <p><strong>DEVELOPMENT MODE:</strong> The link is <a href="@ViewBag.CallbackUrl">here</a></p>
}

