@{
    ViewBag.Title = "Home Page";
}

<h1>Hooray!  Let's take a look at the user</h1>

<p>Everything is in User.Identity</p>
<ul>
    <li>AuthenticationType: @User.Identity.AuthenticationType</li>
    <li>IsAuthenticated: @User.Identity.IsAuthenticated</li>
    <li>Name: @User.Identity.Name</li>
    <li>IsInRole("admin"): @User.IsInRole("admin")</li>
</ul>

