@import (reference) "mixins/utils.less";
@import (reference) "mixins/colors.less";

@header-height: 65px;
@logo-font: 'Sigmar One', serif;
@header-font: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

body {
    padding-top: (@header-height * 1.2);
}

//#region Navigation and Header Bar
header {
    height: @header-height;
    background-color: @color-1;

    > .container {
        height: 100%;

        .navbar-header {
            height: 100%;

            .navbar-brand {
                height: 100%;
                // Background Image
                background-image: data-uri("../images/dragon-logo.png");
                background-repeat: no-repeat;
                background-size: (@header-height * 0.75) (@header-height * 0.75);
                background-position: 0 (@header-height * 0.125);
                // Logo Writing
                font-family: @logo-font;
                color: @color-3;
                font-size: (@header-height * 0.4);
                line-height: (@header-height * 0.4);
                padding-top: (@header-height * 0.08);
                padding-left: (@header-height * 0.9);
            }

            button.navbar-toggle {
                border-color: @color-4;
                margin-top: (@header-height * 0.21) !important;

                .icon-bar {
                    background-color: #ececea;
                }
            }
        }

        #navbar {
            background-color: @color-1;

            > ul {
                > li {
                    height: @header-height !important; // Bootstrap !important override

                    > a {
                        font-family: @header-font;
                        font-size: (@header-height * 0.25);
                        line-height: (@header-height * 0.25);
                        padding: (@header-height * 0.32) (@header-height * 0.1);
                        color: @color-4;

                        &:hover, &:active, &:focus {
                            background-color: @color-2;
                        }
                    }
                }
            }
        }
    }
}
