/* Bootstrap Library */
@import (reference) "../../node_modules/bootstrap-less/bootstrap/index.less";
/* Site Settings*/
@import (less) "site.less";

header {
    /* Bootstrap Requirements */
    .navbar();
    .navbar-fixed-top();
    /* Flexbox Setup */
    display: flex;
    flex-flow: row nowrap;
    align-items: stretch;
    /* Additional styling */
    height: @header-h;
    background-color: @color-1;

    > s-logo, > nav {
        /* Flexbox setup */
        display: block;
        flex-grow: 1;
        height: 100%;
    }

    > nav {
        .clearfix();

        s-menuicon {
            float: right;
            cursor: pointer;
        }
    }
}

section#mainContent {
    /* Bootstrap Requirements */
    .container-fluid();
    /* Make sure the content flows behind the header */
    margin-top: @header-h;
}

#signInModal {
    .container-fluid();
    display: none;
    height: 180px;

    h3 {
        color: @color-2;
        text-align: center;
        font-family: @header-font;
    }

    .socialNetwork {
        width: 280px;
        float: left;
        padding: 10px;
        box-sizing: border-box;
    }
}

#simplemodal-overlay {
    background: black;
}

#simplemodal-container {
    width: 600px;
    color: #bbb;
    background-color: #333;
    border: 4px solid #444;
    padding: 12px;

    a.modalCloseImg {
        display: inline-block;
        z-index: 3200;
        background: data-uri("../images/icons/close.png") no-repeat;
        width: 25px;
        height: 29px;
        position: absolute;
        top: -15px;
        right: -16px;
        cursor: pointer;
    }
}
