@{ ViewBag.Title = "Confirm Email"; }

<h4>Confirmation Successful</h4>
<p>
    Thank you for confirming your email.
    Please @Html.ActionLink("click here to log in", "Index", "Home", routeValues: null)
</p>