@{ ViewBag.Title = "Check Your Email"; }

<h4>Check your email</h4>
<p>
    We just tried to send you an email with an activation link.  When you get the email, click
    the link in the email to activate your account.
</p>
